{% extends "base.html" %}


{% block extra_headers %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script> 
{% endblock %}

{% block js_content %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    $("[data-toggle=popover]").popover({ trigger: 'hover' });
});
</script>

<script>
$(document).ready(function() 
    { 
        $("#resultsTable").tablesorter({
            debug: false,
            sortAppend : [[0,0]],
            textExtraction: function(node) { 
                // sort Modules row by number of highlights but return other text unmodified
                var marks = node.getElementsByTagName("mark");
                if(marks.length === 0){
                    return node.innerHTML;
                }
                var domains = [];
                for(var i = 0; i < marks.length; i++){
                    mark = marks[i];
                    if(mark.getAttribute(["style"]) == "padding: 0; background-color: orange;"){
                        // counter++;
                        domains.push(mark.getAttribute(["data-domain"]));
                    }
                }
                var uniqueDomains = domains.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
                return uniqueDomains.length;
            } 
        }); 
    } 
); 

$('[info1]').tooltip({
  title: "This is the position of which the person was returned by our system",
  trigger: 'hover',
  container : 'body'
});

$('[info2]').tooltip({
  title: "The field in interest",
  trigger: 'hover',
  container : 'body'
});

$('[info3]').tooltip({
  title: "The sub-field in interest",
  trigger: 'hover',
  container : 'body'
});

$('[info4]').tooltip({
  title: "This variable measures the degree of relevance of this result to the query",
  trigger: 'hover',
  container : 'body'
});

</script>

{% endblock %}

{% block subtitle %}
sequence hits
{% endblock %}

{% block content %}
<div class="row-fluid">
<h1> Query Result </h1>
<br>
<center><img src = {{imageurl1}}></center>


<!-- <div class="column">
    <div class="col-md-5" align="right">
        <dt>Name</dt>
        <dd><font face="Georgia" font size = "5" color="gray">{{ researchName }}</font></dd>
    </div>
    <div class="col-md-5" align="right">
        <dt>Field</dt>
        <dd><font face="Georgia" font size = "5" color="gray">{{ field }}</font></dd>
    </div>
    <div class="col-md-5" align="right">
        <dt>Affiliation</dt>
        <dd><font face="Georgia" font size = "5" color="gray">{{ affiliation }}</font></dd>
    </div>
    <div class="col-md-5" align="right">
        <dt>Search Time</dt>
        <dd><font face="Georgia" font size = "5" color="gray">{{ timeTaken }} sec</font></dd>
    </div>
    <div class="col-md-5" align="right">
        <dt>Number of Visits</dt>
        <dd><font face="Georgia" font size = "5" color="gray">{{ num_visits }} Times</font></dd>
    </div>
    </div>
</div> -->

<br>
<br>
<script>
$(document).ready(function(){
    $('[data-domainselect]').change(function(){
       var domain = $(this).attr("data-domainselect");
       var types = $(this).selectpicker('val');
       $('[data-domain="' + domain + '"]').attr("style", "padding: 0; background-color: transparent;"); 
       if (types !== null){
           $.each(types, function(index,value){
                if (value){
                    $('[data-domain="' + domain + '"][data-type="' + value + '"]').attr("style", "padding: 0; background-color: orange;"); 
                }
           });
       }
       // update table cache and re-sort each time highlights are changed
       var sortlist = [[7,1], [0,0]]
       $("#resultsTable").trigger("update").trigger("sorton", [sortlist]);
    });
});

</script>

<div class="row-fluid">
 <div class="btn-group" role="group">
    <select class="selectpicker" data-style="btn btn-default" multiple data-actions-box="true" title="Highlight AT substrates" data-selected-text-format="count">
      {% for rank in ranking %}
      <option  data-domainselect="{{ rank.expertise }}" value="{{ rank.expertise }}"> {{ rank.expertise }}</option>
      {% endfor %}
    </select>
  </div>


<center>
<table id="resultsTable" class="table table-hover table-condensed" style="margin: 0px auto;">
<thead>
<tr>
    <th>
        Hit 
    </th>
    <th>
        Field
    </th>
    <th>
        Subfield
    </th>
    <th>
       Relevance Score
    </th>
</tr>
</thead>
<tbody>
{% for rank in ranking %}

<!-- <tr class="clickable-row" data-container="body" data-href="/search/{{ rank.title }}/{% if alignment.hsps.0.modules|length > 0 %}?mark={% for module in alignment.hsps.0.modules %}{% if forloop.counter != 1 %},{% endif %}{{ module.module.order }}{% endfor %};{% endif %}#{{ alignment.subunit.name }}">

 -->
<tr class="clickable-row" data-container="body" data-href="/searchField/{{ rank.field }}~{{rank.subfield}}/?id={{rank.code}}&field={{rank.field}}&subfield={{rank.subfield}} {% if forloop.counter != 1 %},{% endif %}">
        <td info1=1 width=20>
            {{ forloop.counter }}
        </td>
        <td info2=2 width=20 tooltip= {{ forloop.counter }}>
            {{ rank.field }}
        </td>
        <td info3=3 width=20>
            {{ rank.subfield }}
        </td>
        <td info4=4 width=20>
            {{ rank.score }}
        </td>
        
</tr>
{% endfor %}
</tbody>
</table>
</center>


<br/>
<br>
</div>

{% endblock %}