{% extends 'base.html' %}

{% block subtitle %}
sequence search
{% endblock %}

{% block extra_headers %}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/static/css/home.css" type="text/css">
{% endblock %}

{% block js_content %}
<script type="text/javascript">
function do_example(){
   $("#fieldName").val('Computer Science');
   $("#subfieldName").val('Computer Vision');
}
$(document).ready(function() {
$("#loadexample").click(function() {
do_example();
return false;
});
});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
<h1>
    <center>
        <img src="/static/footer/title.png" width="320" height="150">
        <br/>
        <small class="text-muted"><font face="Georgia" color="gray" font size = "3" >Financial Researcher Exploration Engine</font></small>
    </center>

</h1>
</div>
</div><!--/row-->

<!-- <br>
<div class="container">
    <form action="." method="post" class="parent">
        <input type="text"  placeholder=" Enter a desired researcher">
        <input type="button" value="Search" type="submit">
    </form>
</div>
<br> -->

<div class="row-fluid">
<form action="." method="post" accept-charset="utf-8">
{% csrf_token %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="fieldName">
                <font>Field Name</font>
            </label>
          <textarea class="form-control" rows="1" size="22" name="fieldName" id="fieldName" placeholder=" Enter a desired field name">{{ fieldName }}</textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="subfieldName">
                <font>Subfield Name</font>
            </label>
          <textarea class="form-control" rows="1" size="22" name="subfieldName" id="subfieldName" placeholder=" Enter a desired subfield name">{{ subfieldName }}</textarea>
        </div>
    </div>
</div>

<br>

<br>

<p>Recommended searches: 
    {% for member in fields %}
    <li><a href="/search/{{ member }}/">{{member}}</a></li>
    {% endfor %}
</p>

<br>
<div class="row">
    <div class="col-md-12">
        <center>
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-default" id="loadexample">Load an example query</button>
                <button class="btn btn-default" type="reset">Reset entry field</button>
            </div>
        </div>
        </center>
    </div>
</div>
	
</form>

</div>
{% endblock %}