{% extends "base.html" %}


{% block extra_headers %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script> 
{% endblock %}

{% block js_content %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    $("[data-toggle=popover]").popover({ trigger: 'hover' });
});
</script>

<script>
$(document).ready(function() 
    { 
        $("#resultsTable").tablesorter({
            debug: false,
            sortAppend : [[0,0]],
            textExtraction: function(node) { 
                // sort Modules row by number of highlights but return other text unmodified
                var marks = node.getElementsByTagName("mark");
                if(marks.length === 0){
                    return node.innerHTML;
                }
                var domains = [];
                for(var i = 0; i < marks.length; i++){
                    mark = marks[i];
                    if (mark.getAttribute(["style"]) == "padding: 0; background-color: orange;"){
                        // counter++;
                        domains.push(mark.getAttribute(["data-domain"]));
                    }
                }
                var uniqueDomains = domains.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
                return uniqueDomains.length;
            } 
        }); 
    } 
); 


$('[info1]').tooltip({
  title: "Name of the Researcher",
  trigger: 'hover',
  container : 'body'
});

$('[info2]').tooltip({
  title: "Institute of which this Researcher Belongs",
  trigger: 'hover',
  container : 'body'
});

$('[info3]').tooltip({
  title: "A measure of the relative importance of a node (scholar) in the collaborative network. Based on the PageRank algorithm used by Google search, every scholar is assigned a rank based on the number and quality of co-authorship links the scholar has to other scholars",
  trigger: 'hover',
  container : 'body'
});

$('[info4]').tooltip({
  title: "A weighted sum of the co-authorship connections for each scholar weighted by the number of publications shared with each co-author",
  trigger: 'hover',
  container : 'body'
});

$('[info5]').tooltip({
  title: "A measure of the influence of a node (scholar) in the collaborative network. This is calculated using a weighted sum of the eigenvectors of an adjacency matrix based on co-authorship. A higher eigencentrality value corresponds to higher importance of a researcher within the network",
  trigger: 'hover',
  container : 'body'
});

$('[info6]').tooltip({
  title: "A local clustering coefficient that quantifies how embedded a node (scholar) is within the network or in other words, how much a specific scholar tends to cluster with other scholars when collaborating",
  trigger: 'hover',
  container : 'body'
});

$('[info7]').tooltip({
  title: "The average number of times a scholar’s collaborators have been cited",
  trigger: 'hover',
  container : 'body'
});

$('[info8]').tooltip({
  title: "The average number of publications of a scholar’s coauthors",
  trigger: 'hover',
  container : 'body'
});

$('[info9]').tooltip({
  title: "Field(s) of individual's the most cited papers",
  trigger: 'hover',
  container : 'body'
});

$('[info10]').tooltip({
  title: "Number of Publications measures the amount of paper published at each year; Number of Citations measures the incremental number of citation in each year",
  trigger: 'hover',
  container : 'body'
});

$('[info11]').tooltip({
  title: "Average Impact Number measures the average citation number of it's journal",
  trigger: 'hover',
  container : 'body'
});

$('[info12]').tooltip({
  title: "An author-level metric that measures the productivity and citation impact of a scholar: Formally, it is the maximum value of h such that the author has published h papers that have been cited at least h times",
  trigger: 'hover',
  container : 'body'
});

$('[info13]').tooltip({
  title: "An author-level metric that measures the citation impact of a scholar: It is defined as the number of the author’s publications that have been cited at least 10 times",
  trigger: 'hover',
  container : 'body'
});
</script>

{% endblock %}

{% block subtitle %}
sequence hits
{% endblock %}

{% block content %}
<div class="row-fluid">
<h1> Query Result </h1>
<br>
<div class="row">
    <div class="col-md-6">
         <img src = {{imageurl1}} onerror="this.src='/static/footer/study.jpeg'" width= 320 >
    </div>
    <div class="col-md-5">
        <dt>Name</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info1=1>{{ name }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Institute</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info2=2>{{ research.Institute }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>H Index</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info12=12>{{ h }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>I-10 Index</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info13=13>{{ i_10 }}</font></dd>
    </div>

    <div class="col-md-5">
        <dt>Page Rank</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info3=3>{{ page }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Weighted Degree</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info4=4>{{ weighted_degree }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Clustering</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info6=6>{{ cluster }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Eigencentrality</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info5=5>{{ eigen }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Coauthor Average Citations</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info7=7>{{ avg_cit }}</font></dd>
    </div>
    <div class="col-md-5">
        <dt>Coauthor Average Publications</dt>
        <dd><font face="Georgia" font size = "3" color="gray" info8=8>{{ avg_pub }}</font></dd>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-5">
        <dt>Research Interest(s)</dt>
        <dd>{{ interest }}</dd>
    </div>
    <div class="col-md-5">
        <dt info9=9>Hot spot(s)</dt>
        {% for items in research.HotSpots %}
        <dd>{{ items.0 }} - {{ items.1 }}</dd>
        {% endfor %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-5">
<p><dt>Related Researcher(s):</dt> 
    {% for member in recommend %}
    <li><a href="/search/{{ member.0 }}/?authorID={{ member.1 }}">{{member.0}}</a></li>
    {% endfor %}
</p>
</div>

    <div class="col-md-5">
<p><dt>Top Collaborated Researcher(s):</dt> 
    {% for member in collab %}
    <li><a href="/search/{{ member.0 }}/?authorID={{ member.1 }}">{{member.0}}</a></li>
    {% endfor %}
</p>
</div>
</div>

<br>


<h2>Relevant Papers</h2>
<center>
<div class="col-md-11">
<table id="resultsTable" class="table table-hover table-condensed" style="margin: 0px auto;">
<thead>
<tr>
    <th>
       Paper Info
    </th>
    <th class="text-right">
       Citations
    </th>
</tr>
</thead>
<tbody>
{% for paper in research.MostCitedPapers %}
<tr>
    <td>
        {{ paper.0 }}
    </td>
    <td class="text-right">
        {{ paper.1 }}
    </td>
</tr>

{% endfor %}
</tbody>
</table>
</div>
</center>
<br>
<center><img src="/static/footer/half.png" width=20%></center>

<br/>
<center><h2> Collaboration Network </h2></center>
<div class="container" style="padding-top: 50px">
<center>
<iframe src="/static/footer/html_img/{{ id }}.html" height="640" width="100%" style="border:none;">
</iframe>
<!-- <center><img src="/static/footer/half.png" width=100%></center> -->
<center><h2 info10=10> Publication Citation Graph </h2></center>
<img src="/static/footer/cp/Citation_Publication{{ id }}.png" onerror="this.src='/static/footer/cp/Citation_Publication33645406.png'" width="100%">
</center>
<br>
<center><h2 info11=11> Average Impact Graph </h2></center>
<img src="/static/footer/avg_impact/{{ id }}.png" onerror="this.src='/static/footer/avg_impact/117180.png'" width="100%">
</center>


</div>
</div>



{% endblock %}