{% extends 'base.html' %}

{% block subtitle %}
Homepage
{% endblock %}

{% block extra_headers %}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/static/css/home.css" type="text/css">
{% endblock %}

{% block js_content %}

{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
<h1>
    <center>
        <img src="/static/footer/title.png" width="420" height="200">
        <br/>
        <small class="text-muted">Financial Researcher Exploration Engine</small>
    </center>

</h1>
</div>
</div>
<h2>Overview</h2>
	
</form>
Some introduction to usage of this tool
</div>
{% endblock %}